<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>

  <div class="d-flex flex-grow-1 overflow-hidden">
    <!-- Sidebar -->
    <nav class="sidebar d-none d-md-block">
      <ul class="nav flex-column">

        <li class="nav-item">
          <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/name-rbt" routerLinkActive="active" class="nav-link">
            <i class="bi bi-music-note me-2"></i> Name RBT
          </a>
        </li>

        <!-- Hover Dropdown Admin -->
        <li class="nav-item has-submenu">
          <a class="nav-link">
            <i class="bi bi-person-gear me-2"></i> Admin
          </a>
          <ul class="submenu">
            <li><a class="nav-link" routerLink="/admin/cp-management"><i class="bi bi-box-arrow-in-right me-2"></i> CP Login</a></li>
            <li><a class="nav-link" routerLink="/admin/artist-management"><i class="bi bi-person-circle me-2"></i> Artist Login</a></li>
            <li><a class="nav-link" routerLink="/admin/mno-management"><i class="bi bi-diagram-3 me-2"></i> MNO Login</a></li>
            <li><a class="nav-link" routerLink="/admin/user-management"><i class="bi bi-shield-lock me-2"></i> User Login for Admin</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/cp-reports" routerLinkActive="active" class="nav-link">
            <i class="bi bi-bar-chart-line me-2"></i> CP Reports
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/admin/artist-reports" routerLinkActive="active" class="nav-link">
            <i class="bi bi-pie-chart me-2"></i> Artist Reports
          </a>
        </li> 
        <li class="nav-item">
          <a routerLink="/admin/mis-reports" routerLinkActive="active" class="nav-link">
            <i class="bi bi-bar-chart-line me-2"></i> MIS Reports
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <main class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>
</div>
