<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>

  <div class="d-flex flex-grow-1 overflow-hidden">
    <!-- Sidebar -->
    <nav class="sidebar d-none d-md-block">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/artist/dashboard" routerLinkActive="active" class="nav-link">
            <i class="bi bi-speedometer2 me-2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/artist/approvals" routerLinkActive="active" class="nav-link">
            <i class="bi bi-cloud-upload me-2"></i> Approvals
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/artist/reports" routerLinkActive="active" class="nav-link">
            <i class="bi bi-graph-up-arrow me-2"></i>Artist Reports
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/artist/contracts" routerLinkActive="active" class="nav-link">
            <i class="bi bi-file-earmark-text me-2"></i> Contracts
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <main class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>
</div>
