<div class="container-fluid mt-3">
  <h3>Admin Dashboard</h3>
  <div class="table-scroll-container">
    <table id="adminDashboard" class="table table-bordered table-striped nowrap">
      <thead class="table-dark">
        <tr>
          <th>Sno.</th>
          <th>Artist Name</th>
          <th>Album Name</th>
          <th>Song Name</th>
          <th>Song code</th>
          <th>QR code</th>
          <th>Genre</th>
          <th>CP Name</th>
          <th>Licensed to Country</th>
          <th>Licensed to MNO</th>
          <th>Contract PDF<br><small>(Download)</small></th>
          <th>Contract Expiry<br><small>(from CP)</small></th>
          <th>Audio File<br><small>(Play)</small></th>
          <th colspan="2">Artist Approval</th>
          <th colspan="2">MNO Approval</th>
        </tr>
        <tr>
          <th colspan="13"></th>
          <th>Yes</th>
          <th>No</th>
          <th>Yes</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dashboardData; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ row.artistName }}</td>
          <td>{{ row.albumName }}</td>
          <td>{{ row.songName }}</td>
          <td>{{ row.songCode }}</td>
          <td>{{ row.qrCodeUrl }}</td>
          <td>{{ row.genre }}</td>
          <td>{{ row.cpName }}</td>
          <td>{{ row.country }}</td>
          <td>{{ row.mno }}</td>
          <td>
            <a [href]="row.contractFileUrl" download class="btn btn-sm btn-outline-primary">Download</a>
          </td>
         <td>{{ row.expiryDate ? (row.expiryDate | date:'dd-MM-yyyy') : '-' }}</td>

          <td>
            <audio *ngIf="row.audioFileUrl" [src]="row.audioFile" controls preload="none" style="width: 120px;"></audio>
          </td>
          <td><input type="radio" [checked]="row.approvedByArtist" disabled /></td>
          <td><input type="radio" [checked]="!row.approvedByArtist" disabled /></td>
          <td><input type="radio" [checked]="row.approvedByMno" disabled /></td>
          <td><input type="radio" [checked]="!row.approvedByMno" disabled /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
