<div class="container-fluid mt-3">
  <h4 class="mb-4">CP Dashboard</h4>

  <form [formGroup]="form">
    <div class="table-responsive">
      <table id="cpTable" class="table table-bordered table-hover text-center align-middle">
        <thead class="table-dark">
          <tr>
            <th>S.No.</th>
            <th>Artist Name</th>
            <th>Album Name</th>
            <th>Song Name</th>
            <th>Genre</th>
            <th>Upload Date</th>
            <th>CP Name</th>
            <th>Country</th>
            <th>MNO Name</th>
            <th>Audio File</th>
            <th>QR Code</th>
          </tr>
        </thead>
        <tbody formArrayName="uploads">
          <tr *ngFor="let upload of uploads.controls; let i = index" [formGroupName]="i">
            <td>{{ i + 1 }}</td>
            <td><input type="text" class="form-control" formControlName="artistName" /></td>
            <td><input type="text" class="form-control" formControlName="albumName" /></td>
            <td><input type="text" class="form-control" formControlName="songName" /></td>
            <td><input type="text" class="form-control" formControlName="genre" /></td>
            <td><input type="date" class="form-control" formControlName="uploadDate" /></td>
            <td><input type="text" class="form-control" formControlName="cpName" /></td>
            <td><input type="text" class="form-control" formControlName="country" /></td>
            <td><input type="text" class="form-control" formControlName="mnoName" /></td>
            <td>
              <button class="btn btn-primary" (click)="playAudio(i)">Play</button>
            </td>
            <td>
              <a *ngIf="upload.get('qrCodeUrl')?.value" [href]="upload.get('qrCodeUrl')?.value" target="_blank">
                <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ upload.get('qrCodeUrl')?.value }}&size=60x60" alt="QR Code" />
              </a>
              <span *ngIf="!upload.get('qrCodeUrl')?.value">--</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>